{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1 class="display-3">Students App</h1>
    <p class="lead">
        This is a simple app that we developed with the students alongside.
    </p>

</div>

{% endblock %}